<html ng-app = 'modules'>
	<head>
		<title> 
			Module 
		</title>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "application" %>
		<!-- // <script src="/assets/angular.min.js"></script> -->
		<!-- // <script src="/assets/angular.js"></script> -->
		<!-- // <script src='/assets/modules.js'></script> -->
		<link rel="stylesheet" href="/assets/web.css.scss">	

	</head>
	<body ng-controller='controller'>
		<div>
			<table>
				<tr>
					<td><a href="#">Module Bidding Helper</a></td>
					<td><a href="#"> Forum </a></td>
					<td><a href="#">File Sharing</a></td>
				</tr>

			</table>

		</div>
		{{namespace.test}}
		<div>
			<input type='text' ng-model="namespace.input"> 
			<button ng-click='namespace.add_module()'>Confirm</button>
			<ul >
				<li ng-repeat="mod in namespace.modules">
					Name: {{mod.module.name}}  Code: {{mod.module.code}} WorkLoad: {{mod.module.workload}}
					<!-- <ul >Lecture:
					<li ng-repeat="lec in mod['lectures']">
						{{lec['daytext']}} {{lec['starttime']}} {{lect['endtime']}} {{lec['venue']}} {{lec['weektext']}} {{lec['classnum']}}
					</li>
					</ul>
					<ul >Tutorial:
					<li ng-repeat="lec in mod['tutorials']">
						{{lec['daytext']}} {{lec['starttime']}} {{lect['endtime']}} {{lec['venue']}} {{lec['weektext']}} {{lec['classnum']}}
					</li>
					</ul> -->
				</li>
				

			</ul>
			<button ng-click="namespace.click_cal()">To Find</button>
			the total num of solutions are: {{namespace.solutions.length}}
			<ul>
				<li ng-repeat="record in namespace.solutions">
					<ul>
						<li ng-repeat="detail in record">
							{{detail['nusmod_id']}} {{detail['lessontype']}}{{detail['daytext']}} {{detail['starttime']}} {{detail['endtime']}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div>
			<table>
				<tr>
					<td>Name</td>
				</tr>
			</table>

		</div>
	</body>
</html>

